<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.yin.mapper.UserSongInteractionRecordMapper">

    <select id="getSongScore" resultType="com.example.yin.model.dto.SongMulScoreDto">
        select song_id             as songId,
               sum(download_count) as downloadScore,
               sum(playback_count) as playbackScore
        from user_song_interaction_record
        group by song_id
    </select>
</mapper>